#!/bin/bash

# Aliasses

## General
alias ..="cd .."
alias cl="clear"
alias ll='ls -la --color'
alias ls='ls --color'
alias h='history'
alias sudo="sudo -E"

## Python
alias python=python3
alias pip=pip3
alias pyenv="python -m venv venv"
alias pyactivate="source venv/bin/activate"

## kubectl long commands
alias kdrain="kubectl drain --delete-emptydir-data --ignore-daemonsets --force"

#flux
alias fluxr="flux reconcile source git flux-system && flux reconcile kustomization flux-system"
alias fluxs="flux suspend hr"
alias fluxf="flux resume hr"
alias fluxg="flux get hr --all-namespaces"
alias fluxl="flux logs --all-namespaces"
alias fluxerr="flux logs --all-namespaces --level=error"
alias fluxf="kubectl get hr --all-namespaces | grep False | awk '{print $2, $1}' | xargs bash -c 'flux suspend hr $0 -n $1'"

## Nvim
# use nvim if available
if [ -x "$(command -v nvim)" ]; then
    alias vim="nvim"
    alias v="nvim"
fi

## Configs
alias dotfiles="$EDITOR $HOME/.dotfiles"

# Misc
alias temps="curl wttr.in"
alias whatsmyip="http ipinfo.io"
alias help="tldr"
alias week="date +%V"
alias ip="curl icanhazip.com"
# delete all .DS_Store files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"
alias du="ncdu -r -x --exclude .git --exclude node_modules"
alias lzd="lazydocker"

## Notes
# alias notes="cd ~/notes && v ."

# .NET Core
alias nuget="mono /usr/local/bin/nuget.exe"

# SSH
alias sshconfig="$EDITOR ~/.ssh/config"
alias sshkeys="$EDITOR ~/.ssh/authorized_keys"
alias ssh-dev="ssh $DEV_SERVER"
alias ssh-jump="ssh $JUMP_SERVER"
alias ssh-test="ssh $TEST_SERVER"
